* {
  box-sizing: border-box;
}

html {
  background-color: #333;
}

h1, 
h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: hsl(30, 100%, 50%)
}

body {
  max-width: 1200px;
  width: 100%;
  background-color: white;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  height: 50px;
  width: 1200px;
  background-color: #5b84a4;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.navbar {
  margin: 0 30px;  
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.projects-bar {
  position: fixed;
  right: 36%;
  top: 4%;
  z-index: 15;
  background-color:#5b84a4;
  display: none; 
}

.projects-dropdown {
  position: relative;
  z-index: 10;
}

.projects-dropdown:hover .projects-bar {
  display: block; 
}

.projects-bar a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  padding: 10px 15px;
}

#projectsTable,
#projectsStyle {
  border-bottom: 1px solid black;
}

main {
  padding: 50px 20px 0 20px;
}

.intro {
  margin-top: 50px;
}

.intro-text {
  width: 30%;
  display: inline-block;
  margin-left: 300px;
}

#avatar {
  border-radius: 50%;
  margin: 0 0 0 80px;
  transition: transform 2s;
  position: relative;
  top: 37px;
  left: 220px;
  height: auto;
  width: 160px;
}

.projects {
  margin-top: 100px;
}

.slide p {
   text-align: center;
}

.slide img {
  height: auto;
  width: 800px;
  margin: 25px auto;
  display: block;
}

footer {
  margin: 200px 0 0 0;
  border: 1px solid green;
  background-color: #5b84a4;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
}


/* CONTACTS PAGE */


#contacts {
  height: 100vh;
}

#contacts main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
  height: 100%;
}

#contacts main h3 {
  
}

#contacts main a {
  text-decoration: none;
  color: black;
  margin: 3px 0;
}

#contacts main a:hover {
  color:hsl(30, 100%, 50%)
}